<!doctype html>
<html lang="en">
<!-- SRA? -->

<head>
    {{>headerLinks}}

</head>

<body>


    <!-- NAVBARS -->
    {{>navbar}}



    <!-- Section 1 -->
    <!-- Background Image -->
    <div id="intro" class="bg-image shadow-2-strong">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">


            <div class="text-light pt-5 pb-5 mb-5 bg-cover bgr">
                <div class="firstHalf col-sm-6 text-center">
                    <h1 class="big-text">Welcome To College Forest</h1>
                    <p>UIET, KUK website for Study Material and Coding Group</p>


                    {{!-- <button class="button button1"> <a href="/studymaterial"> Get Notes</a></button> --}}
                    {{!-- <button class="button button1"><a href="" onclick="myCommunity()"> Join Community
                        </a></button> --}}
                    <a href="/studymaterial"><button class="button button1">Get Notes</button></a>
                    {{!-- <a href="" onclick="myCommunity()"><button class="button button1"> Join Community
                        </button></a> --}}
                    <a>
                        <button type="button" class="button button1" data-bs-toggle="modal" data-bs-target="#joinModal">
                            Join Community
                        </button>
                    </a>
                    {{!-- social links --}}
                    <div id="sl">

                        <a href="https://chat.whatsapp.com/Bbvbp8HsAEjKpORaoT6pQB" class="me-4 text-reset">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                        <a href="https://t.me/joinchat/J618xjcgv5cwNTE1" class="me-4 text-reset">
                            <i class="fab fa-telegram"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/s-r-a-coders-7a6221215" class="me-4 text-reset">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        {{!-- <a href="" class="me-4 text-reset">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-instagram"></i>
                        </a> --}}


                        {{!-- <a href="" class="me-4 text-reset">
                            <i class="fab fa-github"></i>
                        </a> --}}
                    </div>

                    {{!-- <button type="button" class="button button1" data-bs-toggle="modal"
                        data-bs-target="#joinModal">
                        Join Community
                    </button> --}}


                </div>
                {{!-- <div class="sect-1 row"></div> --}}
                <div class="secondHalf col-sm-4 offset-sm-2 text-center my-auto">
                    <!-- <img src="./img/2.jpg" class="" alt=""> -->
                    {{!-- <center>
                        <div class="snow">
                            <i class="far fa-snowflake fa-5x"></i>-------------<i class="far fa-snowflake fa-5x"></i>
                        </div>

                    </center> --}}

                    <div class="box">
                        <span style="--i:1"><img src="img/n/1.jpeg" alt="network slow"></span>
                        <span style="--i:2"><img src="img/n/2.jpeg" alt="network slow"></span>
                        <span style="--i:3"><img src="img/n/3.jpeg" alt="network slow"></span>
                        <span style="--i:4"><img src="img/n/4.jpeg" alt="network slow"></span>
                        <span style="--i:5"><img src="img/n/5.jpeg" alt="network slow"></span>
                        <span style="--i:6"><img src="img/n/6.jpeg" alt="network slow"></span>
                        <span style="--i:7"><img src="img/n/7.jpeg" alt="network slow"></span>
                        <span style="--i:8"><img src="img/n/8.jpeg" alt="network slow"></span>
                    </div>

                </div>

            </div>

        </div>

    </div>
    </div>

    </div>
    </div>

    {{!-- GOOGLE FORM FRONT PAGE --}}

    <!-- Section 2 -->
    <section class="sec-mg">
        <div id="myDiv" class="container marketing my-4 text-center">

            <div class="row featurette">
                <div class="col-md-7 my-auto">
                    <h2 class="featurette-heading">Vision
                    </h2>
                    <p class="lead">Our Vision for this site is to help the students in the COVID-19 pandemic to get
                        the study resources and good & comfortable environment for coding.
                </div>
                <div class="col-md-5">
                    <img src="./img/download2.jpg" class="img-rounded shadow-lg" alt="">
                </div>
            </div>
            <br><br><br>
            <!-- <hr class="featurette-divider"> -->

            <div class="row featurette">
                <div class="col-md-7 order-md-2  my-auto">
                    <h2 class="featurette-heading">Availability</h2>
                    <p class="lead">Notes,Pdf of books & various ppts of all four years and all four branches will be
                        available on it.These notes have already been used by some of us and our friends and their
                        experience says they not only helped them to score good but
                        also helped them to enhance the knowledge and tech skills.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="./img/download5.jpg" class="img-rounded shadow-lg" alt="">
                </div>
            </div>
            <br><br><br>

            <!-- <hr class="featurette-divider"> -->

            <div class="row featurette">
                <div class="col-md-7 my-auto">
                    <h2 class="featurette-heading">Comfortable Programing environment </h2>
                    <p class="lead">Our efforts doesn't stop after providing you with good study resources.We will also
                        try to create such a positive and comfortable coding environment which will help us to grow
                        together,we will also share our coding experiences & inspirations.</p>
                </div>
                <div class="col-md-5">
                    <img src="./img/download3.jpg" class="img-rounded shadow-lg" alt="">
                </div>
            </div>

            <!-- <hr class="featurette-divider"> -->

            <!-- /END THE FEATURETTES -->

        </div>
    </section>
    <br><br>

    <!-- About -->
    <div id="about" class="row text-center my-4 mx-20 container-fluid">
        <div class="col-lg-4">
            <img src="./img/IMG_0079.JPG" class="about-img" alt="">

            <h2>Revat Saharan</h2>
            <p>Web Developer<br> UIET,KUK</p>
            {{!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> --}}
            <div>
                <a href="" class="me-4 text-reset">
                    {{!-- <i class="fab fa-facebook-f"></i> --}}
                </a>
                <a href="" class="me-4 text-reset">
                    {{!-- <i class="fab fa-twitter"></i> --}}
                </a>
                <a href="" class="me-4 text-reset">
                    {{!-- <i class="fab fa-google"></i> --}}
                </a>
                <a href="https://www.instagram.com/rj_saharan07/" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://in.linkedin.com/in/revat-saharan-7ab8a4191" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/revatSAHARAN" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        {{!-- <br><br> --}}
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="./img/sahil_img.jpeg" class="about-img" alt="">

            <h2>Sahil Bharal</h2>
            <p>FULL STACK Web Developer <br> Freelancer<br> UIET,KUK</p>
            <h5>Team Lead</h5>
            <div>
                <a href="" class="me-4 text-reset">
                    {{!-- <i class="fab fa-facebook-f"></i> --}}
                </a>
                <a href="" class="me-4 text-reset">
                    {{!-- <i class="fab fa-twitter"></i> --}}
                </a>
                <a href="" class="me-4 text-reset">
                    {{!-- <i class="fab fa-google"></i> --}}
                </a>
                <a href="https://www.instagram.com/sahil.bharal/" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/sahil-bharal-8a739b158/" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/SS-Bharal" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <br>
            <p><a class="btn btn-secondary" href="https://ss-bharal.github.io/Resume/">Website »</a></p>

        </div>
        {{!-- <br><br><br> --}}
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="./img/akshay_img.jpeg" class="about-img" alt="">


            <h2>Akshay Thappar</h2>
            <p>Web Developer<br> UIET,KUK</p>
            {{!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> --}}
            <div>
                <a href="" class="me-4 text-reset">
                    {{!-- <i class="fab fa-facebook-f"></i> --}}
                </a>
                <a href="" class="me-4 text-reset">
                    {{!-- <i class="fab fa-twitter"></i> --}}
                </a>
                <a href="" class="me-4 text-reset">
                    {{!-- <i class="fab fa-google"></i> --}}
                </a>
                <a href="https://instagram.com/akshaythapper/" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/akshay-thappar-261b6819a" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/akshaythappar" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>

    <br><br>
    {{!-- footer --}}
    {{>footer}}


    <!-- Modal -->
    {{>modals}}

    {{!-- JavaScript --}}

    <script src="js/main.js"></script>


    <script>
        document.getElementById("myDiv").style.padding = "40px 0px 40px 0px";
    </script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->

    {{!-- Pageclip Forms --}}
    <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>

</body>

</html>