<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" />
<title>College Forest</title>
<meta name="description" content="Study Materials including Notes and Books Availiable of your Engineering College of All Branch. ">
<meta name="keywords" content="College Forest,Sahil Bharal,UIET,Kurkshetra University,University,College Notes,CSE,ECE,Biotech,Mechinical">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="author" content="Sahil Bharal">
<link rel="shortcut icon" href="img/College Forest2.png" type="image/png">
<link rel="stylesheet" href="css/style.css">

{{!-- <script src="js/main.js"></script> --}}



{{!-- analytics --}}
<!-- Global site tag (gtag.js) - Google Analytics -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K27C1SGC8D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K27C1SGC8D');
</script>

{{!-- pageclip --}}
<link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">

{{!-- Freshpaint  --}}
